body
{
    font-family: Arial;
    font-size: 12px;
    background-color: white;
    color: black;
    margin-top: 30px;

}

#Boutique, #Activités, #Accueil, #Menubuttonsidebar, #barremenu
{
    background-color: darkred;
    font-weight: bold;
}

#dropdown
{
    padding-top: 0px;
    padding-bottom: 0px;
}

#avatar-navbar
{
    height:25px;
    width: 25px;
    margin-right: 5px;
}

#calendar1
{
    height: 330px;
}

#ActivitésF a, #ActivitésC a, #ActivitésP a
{
    padding-left: 15px;
}

#segment
{
    font-family: Arial;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 2%;
    background-color: darkred;
    color: white;
    font-weight: bold;
}


#grids, #greed
{
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 15px;
    margin-right: 5px;
    background-color: darkred;
    color: white;
    font-weight: bold;
}


#header a, #header2 a
{
    color: black;
    font-family: Arial;
}

#productside, #productside h4
{
    font-family: Arial;
}

#Activitéscours a, #Activitésvenir a, #Activitéspassé a, #segmentA h1
{
    color: white;
    font-family: Arial;
    font-weight: bold;
}

#segmentF, #segmentC, #segmentP, #segmentC1, #segmentA
{
    background-color: darkred;
    border:1px solid black;
}

#association, #email, #role, #birthday, #name h1, #name h2
{
    font-family: Arial;
    font-weight: bold;
    color: white;

}

#raccourcis
{
    background-color: gray;
    border: 1px solid black;
}

#raccourcis a
{
    font-family: Arial;
    font-weight: bold;
    color: white;
}

#griduser
{
    border: 1px solid black;
    background-color: darkred;
}

#raccourcis
{
    font-family: Arial;
    font-weight: bold;
}


#shoproduit h3
{
    border: 1px solid black;
    background-color: darkred;
    font-family: Arial;
    font-weight: bold;
    color: white;
    padding-left: 5px;
    margin-top: 10px;
}

#basket a
{
    font-family: Arial;
    color: white;
    font-weight: bold;
}

#basket, #Boutiqueside
{
    background-color: darkred;
    margin-left: 30px;
    padding-left: 5px;
}


#Boutiqueside h2
{
    color: white;
    font-family: Arial;
    font-weight: bold;
}

#logo
{
    height: 100px;
    width: 100px;
    margin-left: 200px;
}

#logoexia
{
    height: 100px;
    width: 150px;
}

 #textlogin
 {
     margin-right: 50px;
 }

#panier, #catact
{
    background-color: darkred;
    border:1px solid black;
    color: white;
    font-family: Arial;
    font-weight: bold;
    padding-left: 8px;

}

#buyproduct
{
    margin-bottom: 3px;
}

#produitachat
{
    margin-top: 30px;
    background-color: darkred;
    color: white;
    font-family: Arial;
    font-weight: bold;
    padding-left: 5px;
}

#catproduit
{
    font-family: Arial;
    font-size: 15px;
    border: 1px solid black;
    background-color: gray;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    padding-left: 5px;
}

#descriptionprod
{
    margin-top: 20px;
}